includes:
#    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    autoload_directories:
        - %currentWorkingDirectory%/src

    excludes_analyse:
        - %currentWorkingDirectory%/src/Automatic/Prefetcher/CurlDownloader.php
        - %currentWorkingDirectory%/src/Automatic/Prefetcher/ComposerRepository.php
        - %currentWorkingDirectory%/src/Automatic/Prefetcher/ParallelDownloader.php
        - %currentWorkingDirectory%/src/Automatic/Prefetcher/Prefetcher.php
        - %currentWorkingDirectory%/src/Automatic/Prefetcher/TruncatedComposerRepository.php

    ignoreErrors:
        # QuestionInstallationManager
        - '#\$package of method Composer\\Package\\Version\\VersionSelector\:\:findRecommendedRequireVersion\(\) expects Composer\\Package\\PackageInterface, Composer\\Package\\PackageInterface\|true given#'
        # ScriptExtender
        - '#Parameter \#1 \$stream of class Symfony\\Component\\Console\\Output\\StreamOutput constructor expects resource, resource\|false given#'

        - '#Call to an undefined method Composer\\DependencyResolver\\Operation\\OperationInterface\:\:getPackage#'
        - '#Call to function method_exists\(\) with Symfony\\Component\\Filesystem\\Filesystem and #'

        # Automatic
        - '#does not call parent constructor from Composer\\Repository\\ComposerRepository#'
        - '#Call to function method_exists\(\) with Symfony\\Component\\Console\\Style\\SymfonyStyle and#'

        # CopyFromPackageConfigurator
        - '#Variable method call on Symfony\\Component\\Filesystem\\Filesystem#'

        # EnvConfigurator - phpstan missing support
        - '#Strict comparison using \!== between bool and null will always evaluate to true#'

        # Package
        - '#Variable method call on Narrowspark\\Automatic\\Common\\Package#'

        # PhpScriptExtender
        - "#Casting to string something that's already string#"

        # GetGenericPropertyReaderTrait
        - '#Variable property access on mixed#'
